<p id="notice"><%= notice %></p>

<h1>Index</h1>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><p>
          <strong>Name:</strong>
          <%= home.Name %>
        </p></td>

        <td><p>
          <strong>Aadhar:</strong>
          <%= home.Aadhar %>
        </p></td>

        <td><p>
          <strong>Dob:</strong>
          <%= home.Dob %>
        </p></td>

        <p>
          <strong>Father:</strong>
          <%= home.Father %>
           <%= link_to 'Show Details', details_path(id:home.id) %>

        </p>

        <p>
          <strong>Mother:</strong>
          <%= home.Mother %>
          <%= link_to 'Show Details', details_path(id:home.id) %>
        </p>

        <p>
          <strong>Children:</strong>
          <%= home.Children %>
          <%= link_to 'Show Details', details_path(id:home.id) %>

        </p>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
